<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#3d66ec
    " />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Levin developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />        <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/favicon/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="favicon/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="favicon/favicon-16x16.png"
  />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link
    rel="mask-icon"
    href="favicon/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <meta name="apple-mobile-web-app-title" content="Levin" />
  <meta name="application-name" content="Levin" />
  <meta name="msapplication-TileColor" content="#9f00a7" />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a href="#" class="logo">levin</a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link">ABOUT ME</a>
              </li>
              <li class="menu__item">
                <a href="/index.html" class="menu__link">PROJECT</a>
              </li>
            </ul>
          </nav>
          <ul class="user-actions">
            <li class="user-actions__item">
              <a href="#" class="user-actions__lin">
                <img src="images/telegram.svg" alt="" srcset="" />
              </a>
            </li>
            <li class="user-actions__item">
              <a href="#" class="user-actions__lin">
                <img src="images/github.svg" alt="" srcset="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="main">
      <section class="top-about">
        <div class="container">
          <div class="top__inner"><div class="top__inner-bg"></div></div>
        </div>
      </section>
      <section class="resume">
        <div class="container">
          <div class="resume__bg">
<div class="resume__content">
    <ul class="resume__list_author">
        <li class="resume__item">
            <bloquote>
                <p class="resume__text">I am a Web Developer located in Israel, Haifa. I am looking   work Junior Frontend/Full-Stack Developer and to increase my skills. </p>
                <cite class="resume__class">Yakov Levin</cite>
            </bloquote>
        </li>
    </ul>
    <ul class="resume__list">
        <li class="resume__item">
            <bloquote>
                <p class="resume__text">Javascript, Coffeescript, JAVA, Python, PHP, Go, Node.js, MongoDB, Redis, PostgreSQL, WebStorm.</p>
                <cite class="resume__class">Backend</cite>
            </bloquote>
        </li>
        <li class="resume__item">
            <bloquote>
                <p class="resume__text">Photoshop, Illustrator, Sketch, Axure, XMind, Prototyping, Wireframing, User Research, Usability Testing.</p>
                <cite class="resume__class">UI/UX</cite>
            </bloquote>
        </li>
        <li class="resume__item">
            <bloquote>
                <p class="resume__text">HTML, CSS, LESS, SASS, Bootstrap, Wordpress, Drupal, Phonegap / Cordova, Ionic, Foundation, Angular.js.</p>
                <cite class="resume__class">Frontend
                </cite>
            </bloquote>
        </li>
    </ul>
</div>
            <div class="resume-shadow"></div>
        </div>
</section>
    </main>
    <footer class="footer-about">
      <ul class="footer__logo">
        <li class="footer__logo-item">
          <a href="http://">
            <img src="./images/footer__logo.png" alt="" />
          </a>
        </li>
      </ul>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
